@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.youLose {
  position: relative;

  &__card {
    @include card;
  }

  &__question {
    margin-block: 1rem;
  }

  &__answer {
    &--word {
      & + &.youWin__answer--word {
        margin-left: 0.5rem;
      }
    }
  }

  &__time {
    margin-block: 1rem;
  }
  
  &__points {
    margin-block: 1rem;
  }
  
  .button {
    &__container {
      @include button-container;
      display: flex;
    }
    
    &--home {
      @include btn;
    }
    &--next {
      @include btn;
    }
  }
}
