@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.youLose {

  &__card {
    @include card;
    padding-top: 1rem;
    padding-inline: 1rem;

    @media (min-width: 768px) {
      top: 0;
      width: 100%;
    }
  }
 

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @media (min-width: 768px) {
      width: min(50rem, 50%);
    }
  }
  &__heading {
    margin-bottom: 2rem;
  }
  
  .button {

    &__container {
      @include double-button-container;
    }
    
    &--home {
      @include btn;
      margin-right: 2rem;
    }
    &--next {
      @include btn;
    }
  }
}
