@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.gabs {
  @include page;

  &__container {
    @include pageContainer;

    
    @media (min-width: 768px) {
      @include card;
      padding-top: 1rem;
      }
  }


  &__current-gab {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%; 
  }

// }


.timer {
  
    &__container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    &__header {
      margin-bottom: 1rem;
    }

    &__countdown {
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }
  }
}


.giveUp {

    &__button {
  
      @include btn;
    }
  
    &__container {
      @include button-container;
    }
  }