.notAlreadySpoken {
    color: transparent;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.alreadySpoken {
    color: green;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.gab__answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 2px solid red;
    width: 70%;
}

.answer-word__span {
    border-bottom: 2px solid red;
    min-width: 4rem;
    display: flex;
    justify-content: center;
}

.current__gab {
    border: 2px solid blue;
    text-align: center;
    margin: 0 auto;
}

.timer__container {
    border: 2px solid red;
    display: flex;
    justify-content: center;
}