@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
  @include page;
  
  &__container {
    @include cardShadow;
    @include pageContainer;
  }
  
    
  &__inner-container {
    display: flex;
    flex-direction: column;
    
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  
  &__title {
    color:#333;
    font-size: 1.25rem;
    text-align: center;
    
    @media (min-width: 400px) {
      font-size: 2rem;
      margin-block: 1rem;
    }

    @media (min-width: 768px) {
      margin-block: 2.5rem;
    }
  }


  &__button {
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    padding: 15px 25px;
    width: 150px;
    justify-content: center;
    

    @media (min-width: 768px) {

    }

    &--google {
      background-color: #df4930;
      border: none;

      &:focus {
        box-shadow: 0 0 5px rgb(10, 10, 28);
        outline: rgb(10, 10, 28);
      }
    }
    
    // &--facebook {
    //   background-color: #507cc0;

      // @media (min-width: 768px) {

      // }
    // }
  }
  
  &__button-icon {
    height: 20px;
    margin-right: 10px;
    width: 20px;

    @media (min-width: 768px) {

    }
  }
} 

.inner-container {

  &__left {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 18vh;
    
    @media (min-width: 768px) {
      height: 18rem;
      width: 100%;
    }
  }
  
  &__right {
    height: 30vh;

    @media (min-width: 768px) {
      width: 100%;
      height: calc(100% - 2rem);

    }
  }
}


.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  @media (min-width: 768px) {
    padding-inline: 1rem;
    height: 100%;
  }
  
  &__label {
    display: none;
  }
  
  &__input {
    @include inputStyling;
  }
  
  &__submit{
    background: rgba(128, 0, 128, 0.671);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 20px;
    margin-inline: auto;
    width: 200px;
    
    &:focus {
      box-shadow: 0 0 5px rgb(10, 10, 28);
      outline: rgb(10, 10, 28);
    }

    @media (min-width: 768px) {
      margin-top: 2rem;
    }
  }
}


.or {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  
  @media (min-width: 768px) {
    margin-bottom: 0;
    
    
  }
  
  
  &__text {
    align-items: center;
    background: white;
    border: 2px solid gray;
    border-radius: 50%;
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    justify-content: center;
    margin-inline: 0.5rem;
    padding: 0.5rem;
    
    @media (min-width: 400px) {
      font-size: 1rem;
      margin-inline: 1rem;
      padding: 0.75rem;
  
    }

    @media (min-width: 768px) {

    }
  }


  &__line {
    background: gray;
    height: 2px;
    margin-inline: 1rem;
    width: 100%;

      @media (min-width: 768px) {
      width: 2px;
      }

      &--above {

        @media (min-width: 768px) {
          height: min(10rem, 15vh);
          position: absolute;
          width: 3px;
          transform: translateY(-80%);
        }
      }

      &--below {
        
        @media (min-width: 768px) {
          height: min(10rem, 15vh);
          position: absolute;
          transform: translateY(80%);
          width: 3px;
        }
      }
    }
  }



.signup {
  
  &__link {
    cursor: pointer;
    display: block;
    margin: 1rem auto 0;
    text-align: center;
    text-decoration: underline;
    
    @media (min-width: 768px) {
      
    }
  }
}
