@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.submitGab {
  
  &__card {
    @include card;
    z-index: 2;
    padding-inline: 1rem;
    padding-top: 1rem;
  }


  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @media (min-width: 768px) {
      width: min(40rem, 50%);

    }
  }

  &__heading {
    margin-bottom: 1.5rem;
  }

  &__instructions {
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
  }
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__questionLabel {
    display: block;
  }

  &__questionInput {
    border: 1px solid black;
    border-radius: 4px;
    margin-block: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    font-family: inherit;
  }
  
  &__answerLabel {
    display: block;
  }
  
  &__answerInput {
    border: 1px solid black;
    border-radius: 4px;
    margin-block: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    font-family: inherit;
    margin-bottom: 2rem;
  }
  
  .button {
  
    &__container {
      @include double-button-container;
      display: flex;
      gap: 2rem;
    }
    
    &--submit-cancel {
      @include btn;
    }
    
    &--submit-gab {
      @include btn;
    }
  }
}
