@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.submitGab {
  position: relative;

  &__heading {
    color: red;
  }
  
  &__card {
    align-items: center;
    border: 2px solid red;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 75%;
    left: 50%;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 10;
  }

}

.form {
  border: 2px solid blue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__questionLabel {
    border: 2px solid red;
    display: block;
  }

  &__questionInput {
    background: yellow;
    border: 1px solid black;
    border-radius: 4px;
    margin-block: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    font-family: inherit;
  }
  
  &__answerLabel {
    border: 2px solid red;
    display: block;
  }
  
  &__answerInput {
    background: yellow;
    border: 1px solid black;
    border-radius: 4px;
    margin-block: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    font-family: inherit;
  }
}


.button {

  &__container {
    display: flex;
  }
  
  &--submit-gab {
    @include btn;
  }
}