@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// 
@mixin page {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100vh - 7.5rem);
  padding-block: 1rem;
  padding-inline: 1rem;
  
  @media (min-width: 768px) {
  }
}

@mixin pageContainer {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 75vh;
  padding-block: 1rem;
  padding-inline: 2rem;
  
  @media (min-width: 768px) {
    @include cardShadow;
    margin: 0 auto;
    max-width: 50rem;
  }
}

@mixin modalContainer {
  background: yellow;
  border-radius: 20px;
  flex-grow: 1;
  height: 75vh;
  left: 50%;
  max-width: 50rem;
  position: absolute;
  padding-block: 1rem;
  padding-inline: 2rem;
  top: 5.2rem;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  z-index: 2;
  
  @media (min-width: 768px) {
    top: 5.5rem;
  }
}


// 


@mixin btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  font-size: 0.75rem;
  height: 2.5rem;
  // position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 10rem;

  &:hover {
    background-color: black;
    color: white;
  }

  &:active {
    background-color: white;
    color: black;
    border-color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    scale: 0.95;
  }

  &__icon {
    position: absolute;
    height: 1.1rem;
    width: 1.1rem;
    top: 0.7rem;
    left: 0.5rem;
  }

  @include tablet {
    width: 9.37rem;
  }
}

// this one
@mixin buttonContainer {
  border: 2px solid red;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 3rem;
}
// above

@mixin button-container {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  bottom: 0;
}

@mixin double-button-container {
  bottom: 2rem;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}




@mixin card {
  align-items: center;
  background: #fff;
  border: 1px solid #333;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
  left: 50%;
  position: absolute;
  transform: translateX(-50%); 
  top: 4rem;
  width: 90%;
  z-index: 1;
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  
  @media (min-width: 768px) {
    height: calc(100vh - 9.5rem);
    top: 5rem;
    width: min(80%, 70rem);
  }
}

@mixin cardShadow {
  border: 1px solid #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}


// @mixin doubleButtonContainer {
//   display: flex;
//   justify-content: center;
//   gap: 2rem;
//   width: 20rem;
// }