$color-primary-black: #323232;
$color-primary-blue: #0095ff;
$color-primary-silver: #afafaf;
$color-primary-white: #ffffff;

$color-secondary-darkBlack: #000000;
$color-secondary-darkBlue: #0065ad;
$color-secondary-mercury: #e1e1e1;
$color-secondary-alabaster: #fafafa;

$color-input-error: #d22d2d;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$padding-mobile: 1rem;
$padding-mobile-headline: 1.5rem;

$padding-tablet: 1.5rem;
$padding-tablet-page: 2.25rem;
$padding-tablet-headline: 2.25rem;
