@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.youWin {

  &__container {
    @include gabsModalContainer;

    @media (max-width: 768px) {
      @include cardShadow;
    }
  }

  &__heading {
    @include pageHeading;
    margin-bottom: 1rem;
  }

  &__question {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    
    @media (min-width: 400px) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    
    @media (min-width: 768px) {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
  
  &__answer {
    @extend .youWin__question;
    &--word {
      & + &.youWin__answer--word {
        margin-left: 0.5rem;
      }
    }
  }

  &__time {
    margin-bottom: 1rem;
    margin-top: 4rem;
    text-align: center
  }

  &__points {
    text-align: center;
  }
  
  .button {

    &__container {
      @include doubleButtonContainer;
      margin-top: auto;
      z-index: 2;
    }
    
    &--home {
      @include btn;
    }
    
    &--next {
      @include btn;
    }
    &--next .disabled {
      @include btn;
      pointer-events: none;
    }
  }

}

.confetti {
  &--show {
    opacity: 100%;
    transition: opacity 5s ease;
    
  }
  
  &--hide {
    opacity: 0%;
    transition: opacity 5s ease;
  }
}