@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.youWin {

  &__container {
    @include gabsModalContainer;

    @media (max-width: 768px) {
      @include cardShadow;
    }
  }
  &__heading {
    @include modalHeading;
  }

  &__question {
    font-size: 2rem;
    margin-block: 1rem;
    text-align: center;
  }
  
  &__answer {
    font-size: 2rem;
    text-align: center;
    &--word {
      & + &.youWin__answer--word {
        margin-left: 0.5rem;
      }
    }
  }

  &__time {
    margin-bottom: 1rem;
    margin-top: 4rem;
    text-align: center
  }

  &__points {
    text-align: center;
  }
  
  .button {

    &__container {
      @include doubleButtonContainer;
      border: 2px solid red;
      // display: flex;
    }
    
    &--home {
      @include btn;
    }
    
    &--next {
      @include btn;
    }
    &--next .disabled {
      @include btn;
      pointer-events: none;
    }
  }
  
}

  
// .youWin__points {
//   position: relative;

//   .loading-dots {
//     position: absolute;
//     left: 100%;
//     animation: loadingDots 1s infinite;
//     border: 2px solid red;
//   }
// }

// @keyframes loadingDots {
//   0%, 20% {
//     content: '.';
//   }
//   40% {
//     content: '..';
//   }
//   60% {
//     content: '...';
//   }
//   80% {
//     content: '';
//   }
// }
