@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.youGiveUp {
  position: relative;
  display: flex;
  
  &__card {
@include card;
  }
  
  &__heading {
    margin-bottom: 1.5rem;
  }

  &__instructions {
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
  }
  
    
  .button {
    &__container {
      @include button-container;
      border: 2px solid red;

    }
    
    &--submit-cancel {
      @include btn;
    }
    
    &--submit-gab {
      @include btn;
    }
  }
}