@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.youGiveUp {
  
  &__container {
    @include gabsModalContainer;

    @media (max-width: 768px) {
      @include cardShadow;
    }
  }
  
  &__heading {
    @include modalHeading;
    margin-bottom: 4rem;
  }
  
  &__instructions {
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    max-width: 35rem;
    text-align: center;
    margin-inline: auto;
  }
    
  &__button-container {
    @include doubleButtonContainer;
  }
  
  .button--home,
  .button--next {
    @include btn;
  }
}
