@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.youGiveUp {
  
  &__container {
    @include gabsModalContainer;

    @media (max-width: 768px) {
      @include cardShadow;
    }
  }
  
  &__heading {
    @include pageHeading;

  }
  
  &__instructions {
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
    width: 100%;
    max-width: 30rem;
    // text-align: center;
    margin-inline: auto;

    @media (min-width: 400px) {
      font-size: 1.5rem;
    }
  }
    
  &__button-container {
    @include doubleButtonContainer;
    margin-top: auto;
  }
  
  .button--home,
  .button--next {
    @include btn;
  }
}
