@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home {
  @include page;
    
  &__container {
    @include pageContainer;

    @media (min-width: 768px) {
      @include card;
      }
    }
    
    &__inner-container {
      height: 100%;
      width: 100%;
      position: relative;
    }



  &__heading {
    line-height: 2;
    text-align: center;
  }
  
  &__sub-heading {
    line-height: 2;
    text-align: center;
    width: 100%;
  }

  .howToPlay-span {
    cursor: pointer;
    text-decoration: underline;
    margin-top: 1rem;
  }
  
  .button {

    &__container {
      @include buttonContainer;
      margin-top: 2rem;
      position: absolute; bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }
    
    &--play {
      @include btn;
    }
    
      &--play-disabled {
        @include btn;
      }
    }

.level__links {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.level {

  &__option {
    padding: 0.5rem 1.2rem;
  }
}

.level__option--selected {
  border-radius: 20px;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.3), inset 0px -2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0.5rem 1.2rem;
  }
}