@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.howToPlay {
  
  &__container {
    @include cardShadow;
    @include modalContainer;
  }

  &__heading {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }

  &__instructions {
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
  }

  
  .button {
    &__container {
      @include buttonContainer;
    }
    
    &--home {
      @include btn;
    }
  }
}
