@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.howToPlay {
  
  &__container {
    @include cardShadow;
    @include modalContainer;
  }
  
  &__content {
    margin-bottom: auto;
  }

  &__heading {
    @include pageHeading;
  }

  &__instructions {
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    max-width: 30rem;
    margin-inline: auto;
  }
  
  .button {
    
    &--home {
      @include btn;
      margin-inline: auto;
      margin-top: auto;
    }
  }
}
