@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.howToPlay {
  
  &__container {
    @include cardShadow;
    @include modalContainer;
    border: 2px solid red!important;
  }

  &__heading {
    @include modalHeading;
    margin-bottom: 3rem;
  }

  &__instructions {
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    max-width: 30rem;
    margin-inline: auto;
  }

  
  .button {
    &__container {
      @include buttonContainer;
    }
    
    &--home {
      @include btn;
    }
  }
}
