.navBar {
  // border: 2px solid red;
  display: flex;
  // display: none;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  height: 100vh;
  position: absolute;
  right: 0;
  z-index: 10;
  width: 60vw;
  border-left: 2px solid #333;
  padding-block: 1rem;
  
  @media (min-width: 768px) {
    border-left: none;
    border-bottom: 2px solid #333;
    padding-block: 0;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
    position: static;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    // border: 2px solid green;
  }

  &__close {
    // border: 2px solid red;
    width: 1.5rem;
    margin: 0 auto;
    
    @media (min-width: 768px) {
      display: none;
    }
  }
  
  &__userName {
    // border: 2px solid red;
    order: 1;
    text-align: center;
    
    @media (min-width: 768px) {
      text-align: left;
      order: 0;
      width: 30%;
      // border: 2px solid green;
    }
  }
  
  &__levels {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: red;
    
    @media (min-width: 768px) {
      display: none;
      // width: 30%;
    }
  }
  
  &__submitGab {
    display: flex;
    flex-direction: column;
    text-align: center;
    // background: red;
    
    @media (min-width: 768px) {
      display: none;
      // width: 30%;
    }
  }
  
  &__logo {
    // border: 2px solid green;
    display: none;
    
    @media (min-width: 768px) {
      align-items: center;
      display: flex;
      height: 3.5rem;
      // border: 2px solid red;
    }
  }
  
  &__dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 1;
    
    @media (min-width: 768px) {
      align-items: flex-end;
      justify-content: center;
      display: flex;
      height: 3.5rem;
      // border: 2px solid red;
      width: 30%;
    }
  }
  
  &__stats {
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    order: 1;
    text-align: center;
    width: 100%;
    // display: none;
    
    @media (min-width: 768px) {
      display: none;
      text-align: left;
      flex-direction: row;
      justify-content: flex-end;
      width: 30%;
      // border: 2px solid red;
    }

    @media (min-width: 768px) {
      // border: 2px solid red;
    }
  }
  
  &__stat {
    border: 2px solid green;
    text-align: center;
    background-color: blue;
    
    @media (min-width: 768px) {
      display: flex;
      background-color: inherit;
      // border: 2px solid red;
    }
    
    &--points {
      // color: red;
      cursor: pointer;

      @media (min-width: 768px) {
        // border: 2px solid red;
        display: none;
      }
    }
    
    &--rank {
      color: red;
      cursor: pointer;

      @media (min-width: 768px) {
        // border: 2px solid red;
        display: none;
      }
    }
  }
  
  &__rank-span {
    white-space: nowrap;
  }
  
  &__actions {
    // display: none;
    order: 1;
    gap: 1rem;
    
    @media (min-width: 768px) {
      display: flex;;
      // border: 2px solid red;
    }
  }
  &__action--submit {
    display: none;
    text-align: center;
    
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__action--logout {
    text-align: center;
  }
}