*, 
*::before, 
*::after {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  // overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;

  &:visited, 
  &:active {
    color: inherit;
  } 
}
