@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.submitGab {
  @include page;

  &__container {
    @include cardShadow;
    @include pageContainer;
  }

  &__heading {
    @include pageHeading;
  }

  &__instructions {
    text-align: left;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
  }
}

.form {
  width: 100%;
  margin-inline: auto;
  max-width: 35rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &__questionLabel {
    display: block;
  }

  &__questionInput {
    @include inputStyling;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 25rem;
    font-family: inherit;
    margin-block: 0.5rem;
    
    @media (min-width: 400px) {
      margin-block: 1rem;
      
    }
  }
  
  &__answerLabel {
    display: block;
  }
  
  &__answerInput {
    @include inputStyling;
    @extend .form__questionInput;
    max-width: 25rem;
    margin-bottom: 2rem;
  }
  
  .submitGab {
    
    &__instructions {
      text-align: center;
      margin-bottom: auto;
    }

    &__button-container {
      
      @include doubleButtonContainer;
      display: flex;
      gap: 2rem;
      
      .button--submit-cancel,
      .button--submit-gab {
        @include btn;
      }
    }
  }
}
